.canvas-div{
	text-align: center;
	color: #fff;
}

.bottom-header-div{
	background-color: #ef4e4e;
	text-align: center;
	color: #fff;
	font-weight: 300;
	font-size: 17px;
	text-transform: uppercase;
	letter-spacing: 4px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.bottom-nav-bar{
	color: #fff;
}