.canvas-div {
    text-align: center;
    color: #fff;
}

.bottom-header-div {
    background-color: #ef4e4e;
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 50px;
    padding-bottom: 50px;
}

a {
    color: #fff;
}

.bottom-nav-bar {
    color: #fff;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#overviewChart {
    position: absolute;
    top: 50%; left: 50%;
    width: 400px;
    height: 400px;
    margin: +75px 0 0 -200px;
}